@mixin text-config($font,$size,$l-height,$color) {
    font-family: $font;
    font-size: $size;
    line-height: $l-height;
    color: $color;
}

@mixin input-placeholder {
    &.placeholder { @content; }
    &:-moz-placeholder { @content; }
    &::-moz-placeholder { @content; }
    &:-ms-input-placeholder { @content; }
    &::-webkit-input-placeholder { @content; }
}
