section.top-block
    header.header
        a(href="#")
            .header__logo soulvibes
        .header__menu
            .header__nav home
            .header__nav genres
            .header__nav event
            .header__nav news
            .header__nav contact
    .top-block__container
        .top-block__title hight quality internet music stations
