section.top-block
    .top-block__wrapper
        header.header
            a(href="#")
                .header__logo soulvibes
            nav.header__menu
                a(href="#")
                    .header__nav home
                a(href="#")
                    .header__nav genres
                a(href="#")
                    .header__nav event
                a(href="#")
                    .header__nav news
                a(href="#")
                    .header__nav contact
        h1.top-block__title high quality internet music stations
