section.top-block
    .top-block__wrapper
        header.header
            a(href="#")
                .header__logo soulvibes
            nav.header__menu
                .header__nav home
                .header__nav genres
                .header__nav event
                .header__nav news
                .header__nav contact
        h1.top-block__title high quality internet music stations
