header.main-header
    .main-header__header-bg
        .main-header__wrapper
            .main-header__inner
                +icon('logo', 'main-header__logo')
                span.main-header__logo-text flirt2mate
