include ../mixins
doctype html
html(lang="ru-RU")
    head
        meta(charset="utf-8")
        title Soulvibes
        <!--[if IE]>
        meta(http-equiv='X-UA-Compatible', content="IE = edge")
        <![endif]-->
        meta(name="viewport" content="width=device-width,initial-scale=1")
        meta(name="keywords" content="")

        link(rel="stylesheet" type='text/css' href="static/css/main.css")
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700,900")
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,700")

        <!--[if lt IE 9]>
        script(src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js")
        <![endif]-->
        body
            include ../modules/header
            section.player
            section.stations
                .title__title-wrapper
                    .title__line
                    .title__title-content
                        h2.title__title genres stations
                    .title__line.title__line--none
                .stations__wrapper
                    .stations__list
                        .stations__item
                            .stations__icon
                                +icon('trending', 'stations__trending')
                            span.stations__station-genre trending top
                        .stations__item
                            .stations__icon
                                +icon('rock', 'stations__rock')
                            span.stations__station-genre rock
                        .stations__item
                            .stations__icon
                                +icon('rnb', 'stations__rnb')
                            span.stations__station-genre R n B
                        .stations__item
                            .stations__icon
                                +icon('alternative', 'stations__alternative')
                            span.stations__station-genre alternative
                        .stations__item
                            .stations__icon
                                +icon('country', 'stations__country')
                            span.stations__station-genre country
                        .stations__item
                            .stations__icon
                                +icon('pop', 'stations__pop')
                            span.stations__station-genre pop
                        .stations__item
                            .stations__icon
                                +icon('jazz', 'stations__jazz')
                            span.stations__station-genre jazz
                        .stations__item
                            .stations__icon
                                +icon('reggae', 'stations__reggae')
                            span.stations__station-genre reggae
                    a.btn(href="#")
                        button.btn__load-more(href="#") load more
            section.upcoming-events
                .title__title-wrapper
                    .title__line
                    .title__title-content
                        h2.title__title upcoming events
                    .title__line.title__line--none
                .upcoming-events__content
                    .upcoming-events__wrapper
                        .upcoming-events__events-block
                            .upcoming-events__event
                                span.upcoming-events__date Wednesday / 22 Dec 2017 / 12:00 PM
                                span.upcoming-events__artist Linkin Park
                                span.upcoming-events__location Ziggo Dome <br> De Passage 100, Amsterdam, Netherlands
                            .upcoming-events__event
                                span.upcoming-events__date Wednesday / 22 Dec 2017 / 12:00 PM
                                span.upcoming-events__artist Burger kill
                                span.upcoming-events__location Ziggo Dome <br> De Passage 100, Amsterdam, Netherlands



            
        script(src="static/js/jquery.js")
        script(src="static/js/libs.min.js")
        script(src="static/js/main.js")
