@import 'utils/fonts.scss';
@import 'utils/vars.scss';
@import 'utils/mixins.scss';
@import 'libs.scss';

html {
    height: 100%;
    line-height: 1.3;
}

body {
    font-family: mainFont;
    height: 100%;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

ul,li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
}

a {
    color: black;
    text-decoration: none;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

textarea {
    resize: none;
}

section {
    position: relative;
}

input,
select,
button {
    outline: none;
}

*, *:before, *:after {
    box-sizing: border-box;
}

///////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////
//BUTTON
///////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////

.btn {
    display: inline-block;
    margin: 20px 0;
    border: 1px solid #ddd;
    overflow: hidden;
    
    &__load-more {
        @include text-config($font, 14px, 1.2, #c12127);
        box-sizing: border-box;
        padding: 10px 100px;
        background-color: transparent;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: .7px;
        transition: all 0.2s ease-in-out;

        &:hover {
            color: #fff;
            background-color: #c12127;
            transition: all 0.2s ease-in-out;
            border: 1px solid transparent;
        }
    }

    &__read-more {
        @include text-config($font, 12px, 1.2, #c12127);
        box-sizing: border-box;
        padding: 10px;
        text-transform: uppercase;
        font-weight: 700;
        transition: all 0.2s ease-in-out;

        &:hover {
            color: #fff;
            background-color: #c12127;
            transition: all 0.2s ease-in-out;
            border: 1px solid transparent;
        }
    }
}

///////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////
//HEADER
///////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////

.top-block {
    background-image: url("../img/general/header-bg.jpg");
    background-size: cover;

    &__wrapper {
        margin: 0 auto;
        max-width: 1024px;
    }

    &__title {
        @include text-config($lora, 72px, 1.2, #fff);
        max-width: 700px;
        padding: 150px 20px;
        text-shadow: 2px 11px 5px rgba(0, 0, 0, 0.33);
        text-transform: capitalize;
        font-weight: 700;
        letter-spacing: 3px;
    }
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 20px;
    background-color: transparent;

    &__menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-width: 455px;
    }

    &__logo {
        @include text-config($font, 36px, 1.2, #fff);
    }

    &__nav {
        @include text-config($font, 14px, 1.2, #fff);
        text-transform: uppercase;
        font-weight: 700;
    }
}

///////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////
//CONTENT
///////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////

.player {
    width: 100%;
    height: 80px;
    background-color: #b50b1e;
}

.title {
        &__title-wrapper {
        display: flex;
        align-items: center;
    }

    &__line {
        position: relative;
        flex-grow: 1;
        height: 2px;
        background-color: #ddd;

        &::after {
            content: "";
            position: absolute;
            top: 50%;
            right: 0;
            width: 14px;
            height: 14px;
            border-radius: 50%;
            background-color: #ddd;
            transform: translateY(-50%);
        }

        &--none {
            visibility: hidden;
        }
    }

    &__title-content {
        flex-shrink: 0;
        max-width: 1024px;
        width: 100%;
    }

    &__title {
        @include text-config($font, 36px, 1.2, #2a333c);
        position: relative;
        padding: 60px 20px;
        text-transform: capitalize;
        font-weight: 700;
    }
}

.stations {
    background-color: #fff;

    &__wrapper {
        max-width: 1024px;
        margin: 0 auto;
        padding: 0 10px;
        text-align: center;
    }

    &__list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__item {
        display: flex;
        flex-direction: column;
        width: 220px;
        height: 180px;
        margin: 10px;
        border: 1px solid #e1e1e1;
        border-radius: 2px;
    }

    &__icon {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
    }

    &__trending {
        width: 67px;
        height: 71px;
    }

    &__rock {
        width: 83px;
        height: 82px;
    }

    &__rnb {
        width: 99px;
        height: 94px;
    }

    &__alternative {
        width: 64px;
        height: 67px;
    }

    &__country {
        width: 70px;
        height: 71px;
    }

    &__pop {
        width: 85px;
        height: 86px;
    }

    &__jazz {
        width: 68px;
        height: 76px;
    }

    &__reggae {
        width: 76px;
        height: 79px;
    }

    &__station-genre {
        @include text-config($font, 18px, 1.2, #2a333c);
        flex-shrink: 0;
        padding: 0 0 20px;
        text-align: center;
        text-transform: capitalize;
        font-weight: 700;
    }
}

.upcoming-events {
    &__content {
        background: url("../img/general/events-bg.jpg") center;
        background-size: cover;
    }

    &__wrapper {
        position: relative;
        max-width: 1024px;
        margin: 0 auto;
        padding: 30px 10px;

        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            right: 0;
            background-image: url("../img/general/people.png");
            width: 544px;
            height: 604px;
            margin: 0 0 -23px;
        }
    }

    &__events-block {
        display: flex;
        flex-direction: column;
        max-width: 350px;
        border-left: 2px solid #fff;
        padding: 20px 20px 0 30px;
    }

    &__event {
        padding: 0 0 50px;
    }

    &__date {
        @include text-config($font, 14px, 1.2, #fff);
        position: relative;
        display: block;
        letter-spacing: .9px;

        &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 0;
            width: 12px;
            height: 12px;
            border-radius: 50%;
            background-color: #fff;
            transform: translate(-307%, -50%);
        }
    }

    &__artist {
        @include text-config($font, 48px, 1.2, #fff);
        display: block;
        padding: 15px 0;
        font-weight: 700;
    }

    &__location {
        @include text-config($font, 14px, 2, #fff);
        display: block;
    }
}

.latest-news {
    padding: 0 0 100px 0;

    &__wrapper {
        position: relative;
        max-width: 1024px;
        margin: 0 auto;
    }

    &__list {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    &__item {
        display: flex;
        flex-direction: column;
        width: 300px;
        padding: 25px 20px 0;
        border: 1px solid #e1e1e1;
        border-radius: 2px;
    }

    &__date {
        @include text-config($font, 11px, 1.3, #2a333c);
        position: relative;
        padding: 0 0 0 20px;
        font-weight: 700;
        text-transform: uppercase;

        &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 0;
            width: 8px;
            height: 8px;
            background: #ddd;
            transform: translate(0,-50%);
        }
    }

    &__title {
        @include text-config($font, 18px, 1.2, #2a333c);
        padding: 20px 0;
        font-weight: 700;
    }

    &__text-news {
        @include text-config($font, 14px, 1.8, #2a333c);
        font-weight: 400;
    }
}

.contact-us {
    &__content {
        background-image: url("../img/general/subscribes-bg.jpg");
        background-size: cover;
        background-position: center;
    }

    &__wrapper {
        margin: 0 auto;
        max-width: 1024px;
        width: 100%;
        padding: 50px 0;
    }

    &__title {
        @include text-config($lora, 60px, 1.3, #fff);
        font-weight: 700;
        text-transform: capitalize;
    }

    &__subtitle {
        @include text-config($font, 18px, 1.3, #fff);
        padding: 20px 0 30px;
        max-width: 600px;
        font-weight: 700;
    }

    &__form-email {
        border: 0;
        padding: 0;
    }
}